  <% likes.each do |like| %>
    <div class="media-body">
      <div>
        <%= link_to like.user.name, user_path(like.user) %>
      </div>
      <div>
        <p><%= like.content %></p>
      </div>
      <div class="row">
        <% if user_signed_in? %>
          <%= render 'favorites/favorite_button', micropost: like %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate likes %>